<div id="top">
	<div id="user">
		<%= current_user.email %> | <%= link_to("Logout", :destroy_user_session) %>
	</div>
	<div id="tools">
		<button id="bold" style="font-weight: bold">B</button>
		<button id="italic" style="font-style: italic">I</button>
		<button id="code" data-arg="Droid Sans Mono, Courier, monospace" style="font-family: Droid Sans Mono, Courier, monospace;">Code</button>
		<button id="highlight" data-arg="#ffff00" style="background: #990">Highlight</button>
		<button id="removeformat">Clear formatting</button>
	</div>
</div>
<div id="sidebar">
	<div id="standard-pane">
		<div id="datepicker">
		</div>

		<div id="search-box">
			<%= form_tag(:search, :id => 'search',
						 :update => 'search-results', :remote => true) do %>
			<input id="q" name="q" placeholder="Search..." type="search">
			<% end %>
		</div>
		<div id="search-results">
		</div>
	</div>
</div>
<div id="journal-pane-container">
	<div id="today">
	<%= render :partial => 'entry', :locals => { :entry => @today, :today => true } %>
	</div>
<div id="journal-pane">
	<div id="journal-data">
		<% for entry in @entries %>
			<%= render :partial => 'entry', :locals => { :entry => entry, :today => false } %>
		<% end %>
	</div>
</div>
</div>
<script>
var LoadData = <%=raw url_for(:load).to_json %>;
jQuery(function ($) {
	$(".journal-entry").live('blur', function () {
		$.ajax(<%=raw url_for(:update).to_json %>, { 'type' : 'POST',  'data' : { 'date' : $(this).data('date'), 'entry' : $(this).html()  } })
	});

	$("#search-results li[data-date]").live('click', function () {
		var date = $(this).data('date');
		var journal = $(".journal-item[data-date=\""+date+"\"]");

		if (journal.size() > 0) {
			$("#journal-pane-container").scrollTop(journal[0].offsetTop - 4);
			 $(".journal-entry[data-date=\""+date+"\"]").focus();
		} else {
			console.log("Can't find %s - %o ", date, journal);
			// Load journal & display in popup?
		}
	});

	$(function() {
		$( "#datepicker" ).datepicker({
			dateFormat : "yy-mm-dd",
			beforeShowDay : function (date) {
				//console.log("beforeShowDay %s", date);
				return [true, '', "Custom: "+date.toString()];
			},
			onSelect : function (dateText, inst) {
				console.log("select %s", dateText);
			}
		});
	});

	$("#q").keydown(function () {
		if ($(this).val().size > 2) {
			$('#search').submit();
		}
	});

	var focusedElement = null;
	$(".journal-pane .journal-entry").live('focus', function () {
		focusedElement = $(this);
	});
	$(".journal-pane .journal-entry").live("blur", function () {
		if ($(".journal-entry:focus").size() == 0) {
			focusedElement = null;
		}
	});
});
</script>
