<!DOCTYPE html>
<html>
<head>
  <title>Stuts Log</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blitzer/jquery-ui-1.8.14.custom.css' %>  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-ui.min.js' %>  
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
